# REDAXO
# ENV wird lokal definiert, hat deshalb nichts im Repo zu suchen
.env

# Keine Node-Module versionieren!
# Unnötig groß für ein Repo, und sie kommen ja per npm/yarn.
node_modules

# IDE config, brauchen wir nicht in diesem Projekt
.idea

# DOCKER IGNORE
# database
db/*
!db/.gitkeep

# redaxo html folder
html/*
!html/.gitkeep


