mixin banner(img, title, description, clase, boton, autor)
  div(class='main-banner--' + clase + ' main-banner')
    .lac-container
      .lac-item
        img(src=img).main-banner__img
        .main-banner__data.cross-center
          h1.w1= title
          if (description !== '')
            p.subtitle= description
          if (boton)
            a(href="#").button--second.small.center.full Ver más