body {
  margin         : 0 0 0 0;
  display        : flex;
  flex-direction : column;
  min-height     : calc(100vh - var(--header-height ));
}
hr{
  border: solid 1px var(--border-color);
}
// Vertical rhythm
h1, h2, h3, h4, h5, h6 {
  margin-top : 0;
  margin-bottom : 1rem;

  & + .subtitle {
    margin-top : -.5rem;
    margin-bottom : 1rem;
  }
  & + hr {
    position: relative;
    top: -.75rem;
    margin: 0;
  }
}

li {
  margin-top : 0;
  margin-bottom : .75rem;
}
.m-block{
  margin-top : 0;
  margin-bottom : .5rem;
}
.xl-block{
  margin-top : 0;
  margin-bottom : 2rem;
}
// Bloques de contenido
.l-block,
section,
p,
blockquote,
pre,
article,
figure,
iframe,
video,
ul,
ol {
  margin-top : 0;
  margin-bottom : 1rem;
}
p{
  min-width: 100%;
}
// secciones principales
.l-section {
  margin-top: 2.2rem;
  margin-bottom : 4rem;

  .main-header + & {
    margin-top : 4rem;
  }

  &--main {
    margin-top : 0;
    margin-bottom : 8rem;
  }
}

.topbar {
  margin-bottom : 2rem;
}
