extends layouts/template
append config
  -currentPage = 'Inicio'
block banner
  include components/slider

  //- include components/flux-slider.html
block main
  .lac-container.l-block
    .lac-item.l-30.l-block
      h2.lac-font= `Lorem ipsum dolor sit amet consectetur adipisicing elit.`.toUpperCase()
    .lac-item.l-70.l-block
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores id iste excepturi! Culpa officiis voluptatibus rerum possimus odio eos expedita praesentium quidem repellendus? Ex dolorem veniam culpa quos, ipsam inventore.
  .lac-container.main-center
    .lac-item.l-1-3.m-50.l-block
      .card
        .card__img.to-center
          img(src='http://lorempixel.com/400/200/business/1')
        .card__content
          .card__title Título de la tarjeta
          .card__subtitle
            p Subtitulo de la tarjeta
          .card__body
            p
              | Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
          footer.card__footer.to-center
            .card__button
              a.button--ghost--tertiary.button--small(href='#') Ver más
    .lac-item.l-1-3.m-50.l-block
      .card
        .card__img.to-center
          img(src='http://lorempixel.com/400/200/business/2')
        .card__content
          .card__title Título de la tarjeta
          .card__subtitle
            p Subtitulo de la tarjeta
          .card__body
            p
              | Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
          footer.card__footer.to-center
            .card__button
              a.button--ghost--tertiary.button--small(href='#') Ver más
    .lac-item.l-1-3.m-50.l-block
      .card
        .card__img.to-center
          img(src='http://lorempixel.com/400/200/business/4')
        .card__content
          .card__title Título de la tarjeta
          .card__subtitle
            p Subtitulo de la tarjeta
          .card__body
            p
              | Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
          footer.card__footer.to-center
            .card__button
              a.button--ghost--tertiary.button--small(href='#') Ver más