.lac-item--logo{
  padding-right: 0;
}
.main-logo {
  display: flex;
  height: 4rem;
  width: auto;
  line-height: 1;
  min-width: 150px;
  &:hover{
    text-decoration: none;
  }
  img{
    height: 3.6rem;
  }
  .lac{
    margin-left: .5rem;
  }
  b{ 
    color: var(--first-color);
  }
}
