/*
  MAIN MENU
  Este es el menú principal del sitio, aparece dentro de main header

  Su estructura es
    <nav class="main-menu" id="main-menu">
      <ul>
        <li><a href="#">Item de menu</a></li>
        <li><a href="#">Item de menu</a></li>
      </ul>
    </nav>

  En movil se activa con un botón de hamburguesa.
  En el ejemplo es un div pero puede ser cualquier elemento
  (debe estar fuera del nav)
    <div id="main-menu-toggle" class="main-menu-toggle to-l"></div>

  Entra por la derecha justo debajo de main-header

*/

.main-menu {
  a:hover {
    text-decoration : none;
  }

  .active {

    @include from(l) {
      color: var(--first-dark-3);
      font-weight: 700;
      &::before {
        display : none;
      }
    }
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      // right      : 80%;
      overflow-y : hidden;
    }
    // .main-header{
    //   left: 80%;
    // }
  }
}

.main-menu-toggle {
  @include navToggle(20px, var(--text-color));
}

@mixin main-menu {
  font-family: $heading-font;
  font-size : var(--smaller);
  line-height: 1.2;
  text-transform: uppercase;
  @include to(l) {
    position   : fixed;
    top        : var(--header-height);
    background : var(--second-color);
    width      : 80%;
    right      : -80%;
    padding    : 1em 1em 2em;
    height     : calc(100vh - var(--header-height));
    transition : right .5s;
    overflow-y : auto;
    // Mostrar el menu
    &.show {
      right : 0;
    }
  }

  ul {
    @include clearMenu;
    @include from(l) {
      display : flex;
      text-align: center;
    }
  }

  li {
    color         : #FFF;
    border-bottom : 1px solid rgba(#fff, .2);
    padding       : 1em 0;
    margin        : 0;
    transition    : .6s all;

    @include from(l) {
      color       : #333333;
      padding     : 0;
      // max-width: 147px;
      // margin-left : 1.5rem;
      max-width: 185px;
      margin-left: 0;
      padding:0 .75rem;
    }
    @include from(l){
      &:hover{
        background: #f0f0f0;
      }
    }
  }
  
  a {
    color : inherit;
    @include crossCenter;
    @include from(l) {
      height: 4.7rem;
    }
  }
  a.resalt{
    color: var(--first-color);
    @include from(l){
      color: var(--first-dark-3);      
    }
  }
}

.main-menu {
  @include main-menu;
}
