.pre-footer{
  background-color: var(--second-color);
  padding: 1rem 0;
}
.pre-footer, footer{
  font-size: .8rem;
}
.main-footer {
  background-color: var(--border-color);
  border-top: solid 1px silver;
  box-shadow: 0 0px 2px 0px silver;
  padding-top: rem(40px);
  padding-bottom: rem(10px);
  h2{
    color: #333;
    margin-bottom: .7rem;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 400;
  }
}
.main-copyrigth{
  color      : #999;
  margin-top : auto;
  padding-top: 1rem;
}
