.main-header {
  height        : var(--header-height);
  border-bottom : 1px solid var(--border-color);
  display       : flex;
  flex-wrap     : wrap;
  align-items   : center;
  background    : #FFF;
  position      : relative;
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : var(--z-fixed);
  box-shadow    : 0px 1px 3px rgba(0,0,0,0.2);
  &--bartop{
    background: var(--second-color);
    height: 2.76rem;
    font-size: var(--small);
    a{
      color: #cccccc;
      margin-left: 2rem;
      &:hover{
        color: var(--first-color);
      }
    }
  }
  &--menu{
    height: rem(76.39px);
  }
}
