.md-stepper {
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px #{'hsl(var(--dark-HS), 10%)'};
	margin-bottom: 1.5rem;
	overflow: auto;
}
h1.md-first-title{
	color: #FFFFFF;
  text-shadow: -5px 5px 5px #{'hsla(var(--dark-HSL), 10%)'};
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: center;
	text-transform: uppercase;
	font-size: var(--title3);
	background: linear-gradient(var(--first-color), #{'hsl(var(--first-HS), 42%)'});
	border-radius: 5px 5px 0 0;
	padding: .5rem 1rem;
	margin-bottom: 0;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	padding-top: .5rem;
}
.md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-step:hover .md-step-circle {
	opacity: .8;
}
.md-step:first-child .md-step-bar-left,
.md-step:last-child .md-step-bar-right {
	display:none;
}
.md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color: #{'hsl(var(--text-alt-HS), 60%)'};
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-step.done .md-step-circle *,
.md-step.editable .md-step-circle * {
	display:none;
}
.md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-step .md-step-title {
	margin-top:20px;
	font-size:16px;
	font-weight:600;
}
.md-step-title,
.md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-step.active.done .md-step-title,
.md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-step .md-step-optional {
	font-size: 1.2rem;
}
.md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-step .md-step-bar-left,
.md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
.md-step-active {
  .md-step-title {
    color: var(--first-color);
  }
  .md-step-circle {
    background-color: var(--first-color);
  }
  .md-step-optional {
    color: #{'hsl(var(--first-HS), 60%)'};
  }
}