.social {
  width: 100%;
  @include mainCenter;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  &--link {
    color: #FFF;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      span{
        color: var(--first-color);
      } 
      svg {
        background-color: var(--first-color);
        path{
          fill: #FFF;
        }
      }
    }
  }
  svg{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #FFF;
    margin: .2rem 3rem;
    border-radius: 50px;
    transition: .5s all;
    path{
      transition: .5s all;
      fill: var(--second-color);
      transform: scale(0.6);
      transform-origin: center;
    }
  }
  &--item{
    display: inline-block;
    margin-bottom: 0;
    overflow: hidden;
  }
}
