.edui-tabs {

  .tabs {
    display : flex;
    position : relative;
    left : 1rem;
    top : 1px;
    margin-right: 2rem;
    overflow-x: auto;
  }

  .tab {
    border : 1px solid var(--border-color);
    // padding : 1rem;
    border-radius : .3rem .3rem 0 0;
    margin-right : .5rem;
    background : var(--body-bg-color);
    cursor: pointer;
    opacity : .65;
    max-width: 270px;

    &.active {
      border-top: 4px solid var(--second-color);
      border-bottom : 0px solid var(--body-bg-color);
      opacity : 1;
    }

    img {
      width : rem(36px);
      display : block;
    }
    a{
      display: block;
      padding: 1rem;
      &:hover{
        text-decoration: none;
      }
    }
    .tab {
      border : none;
      padding: 0;
      border-radius : 0;
      margin : 0;
      opacity : 1;
    }
    &:last-child {
      margin-right: 2rem;
    }
  }

  .panels {

  }

  .panel {
    @include widget;
    // border : 1px solid var(--second-color);
    display : none;
    border-radius : .25rem;
    padding : 2rem 1rem 1.5rem;

    // :last-child {
    //   margin-bottom : 0;
    // }

    &.active {
      display : block;
    }
  }
}
