.title, [class*="title--"]{
  color: #FFF;
  background: linear-gradient(var(--first-color), #{'hsl(var(--first-HS), 41%)'});
}
.subtitle, [class*="subtitle--"]{
  color: var(--second-color);
  border-bottom: solid 1px var(--accent-color);
}
.title--second   {  }
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }