- var currentPage = 'Inicio'
- var siteName = 'Estrategia LAC'
- var slogan = 'Latin America and the Caribbean - Strategic Plan'
- var description = 'Estrategia LAC - Latin America and the Caribbean - Strategic Plan'

//-Site Version
- var siteVersion = '1.0.0'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/lac-demo/'

//- Main Menu
