footer.main-footer
	.lac-container
		.lac-item.l-60.m-100.s-100.main-footer__item
			.main-footer__content
				h1.main-footer__title.t3 Estrategia LAC
				ul.data-list.lac-container
					li.lac-item.l-50
						a(href= path_page)
							b Inicio
					li.lac-item.l-50(v-for="item in mainmenu")
						a(v-if="item.submenu == null" :href="item.href")
							b(v-text="item.title")
						a(v-else :href="item.href" v-text="item.title + ': '")
						template(v-for="subitem in item.submenu")
							a(:href="subitem.href" v-text="' - ' + subitem.title")
		.lac-item.l-40.m-100.s-100.main-footer__item.cross-center.main-center
			//- h1.main-footer__title.t3 Estrategia LAC
			form.main-footer__content.lac-item.l-50.m-50.s-90
				.form__item
					label Seleccionar idioma
					select(@change="onChange()" v-model="key")
						option Español (spanish)
						option English (Inglés)
footer.main-copyrigth
	.lac-container
		.lac-item.l-100.main-footer__item
			.main-footer__content.main-distribute.cross-center
				p Todos los Derechos Reservados ® 
					b #{siteName} 
					| © 
					span#currentDate
				//- p: a.made-in(href='', target='_blank') Des: Fernando Averanga
