header.main-header
  .lac-container.full.main-header--bartop
    .lac-item.lac-container.to-center
      //- a.button--small(href="http://") ES
  .lac-container.main-header--menu
    .lac-item.s-80.l-20.cross-center
      a(href= path_page + "")
        //- img(src= path_media + 'svg/FOR-banner-rgb.svg')
        .main-logo
          b Latin America and the Caribbean
          b Strategic Plan
    .lac-item.s-20.l-80.cross-center.main-end.header-links
      nav.main-menu#main-menu
        ul
          li(v-for="item in mainmenu")
            a(:href="'#' + item.href" v-text="item.title")
      .main-menu-toggle.to-l#main-menu-toggle
