include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.rex-container(style= "display:none;")
  .slider-prev <i class="icon-left"></i>
  .slider-next <i class="icon-right"></i>
.rex-slider
  +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
  +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
