:root {
  --first-color: #41acdb;
  --first-HS: 198, 68%;
  --first-HSL: 198, 68%, 56%;
  --first-alt-color: #9ccaed;
  --first-alt-HS: 206, 69%;
  --first-alt-HSL: 206, 69%, 77%;
  --second-color: #002b49;
  --second-HS: 205, 100%;
  --second-HSL: 205, 100%, 14%;
  --second-alt-color: #424e68;
  --second-alt-HS: 221, 22%;
  --second-alt-HSL: 221, 22%, 33%;
  --third-color: #FF3C32;
  --third-HS: 3, 100%;
  --third-HSL: 3, 100%, 60%;
  --third-alt-color: #FF2419;
  --third-alt-HS: 3, 100%;
  --third-alt-HSL: 3, 100%, 55%;
  --accent-color: #FBA905;
  --accent-HS: 40, 97%;
  --accent-HSL: 40, 97%, 50%;
  --accent-alt-color: #F1A000;
  --accent-alt-HS: 40, 100%;
  --accent-alt-HSL: 40, 100%, 47%;
  --dark-color: #282D31;
  --dark-HS: 207, 10%;
  --dark-HSL: 207, 10%, 17%;
  --border-color: #e7e7e7;
  --border-HS: 0, 0%;
  --border-HSL: 0, 0%, 91%;
  --text-color: #333333;
  --text-HS: 0, 0%;
  --text-HSL: 0, 0%, 20%;
  --text-alt-color: #666666;
  --text-alt-HS: 0, 0%;
  --text-alt-HSL: 0, 0%, 40%;
  --body-bg-color: #fcfdfd;
  --body-bg-HS: 180, 20%;
  --body-bg-HSL: 180, 20%, 99%;
}